{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <!-- 下面这种 url hard code 不方便以后调整url -->
        <!-- test -->
        <!--<li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>-->
        <!-- path('<int:question_id>/', views.detail, name='detail'),  detail 表示用的是什么Url question.id 传的参数 -->
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}